<%- include('../partials/header') %>
<h2 class="form-title">Alterar Senha</h2>
<form method="POST" action="/users/change-password" class="register-form">
  <input name="currentPassword" type="password" placeholder="Senha atual" required />
  <input name="newPassword" type="password" placeholder="Nova senha" required />
  <button type="submit" class="blue-button">Alterar Senha</button>
</form>
<% if (error) { %>
  <p style="color:red; text-align:center;"><%= error %></p>
<% } %>
<%- include('../partials/footer') %>
